a:visited {
  color: yellow;
}

.author-paragraph {
  font-style: italic;
  font-weight: 100;
  font-size: smaller;

  margin-top: 0.5em;
  opacity: 0.8;
}

header {
  position: fixed;
  width: 88%;
}

main dl {
  margin: 0 1em;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5em;
}

main dt {
  font-family: var(--headers-font);
  font-size: 1.6em;
  font-weight: 400;
  border-left: 4px solid var(--extra-color);
  padding-left: 0.5em;
}

main dd {
  background-color: var(--main-background-lighter-color);

  border-color: blue;
  border-style: double;
  border-bottom-style: solid;
  border-bottom-width: medium;

  padding: 1em;
  margin-bottom: 3em;

  border-radius: 6px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5em;
  align-items: start;
}

main dd > img {
  border-radius: 6px;
  transition-duration: 0.25s;
  max-width: 200px;
}

main dd > img:hover {
  filter: sepia(150%);
  transform: scale(1.05);
}

main dd p {
  line-height: 1.4em;
  text-align: justify;
}

main.tmp-class {
  padding-top: 120px;
  margin-bottom: 3em;
}

@media (max-width: 600px) {
  main dd {
    grid-template-columns: 1fr;
    text-align: center;
  }

  main dd > img {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }

  main dt {
    font-size: 1.4em;
  }
}
